<div class="card border-dark mb-3">
    <div class="card-body text-dark">
        <h4 class="card-title">My Profile</h4>
        <p class="card-text">My name is Chaiwat Wongcuhen </p>
        <p class="card-text">My Nickname is AOF </p>
        <p class="card-text">I'm 21 years old </p>
        <p class="card-text">I'm a man</p>
        <p class="card-text">I wanna be a Programmer </p>
        <p class="card-text">I love DOG </p>
        <button class="btn btn-primary" (click)="getDogAPI()">RANDOM DOG</button>
    </div>

    <div class="card-body text-dark">
        <img src = {{myDog.image}}/>
    </div>
</div>